<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header.ejs') %>
    <script src="/scripts/ejs.min.js"></script>
</head>
<body>
    <div class="container">
        <nav> <%- include ('../partials/nav.ejs') %> </nav>
        <h1><%= movie.title %></h1>
        <h3><%=movie.year%></h3>
        <img src="<%= movie.image%>" alt="<%=movie.title%>" width="50%">
        <h5>Runtime: <%=movie.runtimeStr%></h5>
        <h5>Plot: <%= movie.plot %></h5>
        
       
            <form action="/movies/<%=movie._id%>/add?_method=PUT" method="POST">
                <input type="submit" class="btn btn-success" value="Add to My Collection" />
            </form><br>
        
        <a href="/movies/<%=movie._id%>/edit"class="btn btn-primary">Edit Movie Info</a>
        <a href="/movies" class="btn btn-primary">Return to Movie List</a>
        <a href="/" class="btn btn-primary">Return to Home Page</a>
        <form action="/movies/<%=movie._id%>?_method=DELETE" method="POST" style="margin-top: 8px;">
        <input type="submit" value="Delete Movie From All Collections" class="btn btn-danger"/>
        </form>
    </div>
</body>

</html>