<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header.ejs') %>
</head>
<body>
    <div class="container">
        <nav> <%- include ('../partials/nav.ejs') %> </nav>
        <h1><%= user.name %></h1>
        <h3><%=user.nickname%>'s Profile</h3>
        <h3>Here's <%=user.nickname%>'s' current collection of movies:</h3>
        <ul>
            <% if (user.movieCollection.length >0 ) {%>
                <% for (let i=0; i<user.movieCollection.length; i++){ %>
                <li>
                    <img src="<%= user.movieCollection[i].movieImage %>" width="100px" >
                    <a href="/movies/<%=user.movieCollection[i].movie_id%>"><%= user.movieCollection[i].movieTitle %></a>
                </li>
            <%} } else { %>
                There are no movies in this collection yet!
                <% if (user.username == currentUser.username){ %>
                    <a href="/movies">add some here!</a>
                <%}%>
            <% } %>
        </ul>
        <a href="/users/<%=user.id%>/edit"class="btn btn-primary">Edit User Info</a>
        <a href="/users" class="btn btn-primary">Return to User List</a>
        <a href="/" class="btn btn-primary">Return to Home Page</a>
        <a href="/movies/" class="btn btn-primary">Add a Movie to Collection </a><br>
        <form action="/users/<%=user.id%>?_method=DELETE" method="POST" class="form-group" style="margin-top: 8px;">
        <input type="submit" value="Delete User" class="btn btn-danger"/>
        </form>
    </div>
</body>
</html>